body {

    background-color: #940f12 !important;
}

#mainBanner {
    /*background-color: #940f12;*/
    padding: 1em;

}

.spacer {
    height: 1em;
}


.cover-card {
    border: 2px solid white;
    background: silver;
    padding: 0px;
    margin: 0px;
    height: 20em !important;
}


.overlay > p {
    background-color: rgba(0,0,0,0.5);
    vertical-align: text-bottom;
    color: white;
    text-shadow: 3px 3px  #000;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.boton {

   background-color: #fff !important;
}

.boton-cuadrado {
    text-align: start;
    color: #940f12;
    height: 10em !important;
}

.boton-largo {

    color: #940f12 !important;
    height: 5em !important;

}

.botonera {
    margin: 1em !important;
}

.btnImg path{

    background-color: #000;
}

#slideContainer {

    width: 100%;

}