.body{
    min-height: 100%;
}

.searchbar .searchbar-input{
    height: auto;
}

#csDatalist{

    margin: 58px 8px;
}

.list-block ul{
    /*padding: 3% !important;
    margin: 56px 0;*/
}

.content-block-inner{
    margin: 56px 0 !important;
}

.page > .searchbar{
    background-color: #940f12 !important;
    margin: 56px 0 !important;
}

.list-block .item-title{
 white-space: normal !important;
}

.page{
    background-color: #ccc;
}

.blancaynegrita{
    font-weight: bold;
}

.blancaynegritag{

    text-transform: uppercase;
    text-align: center;

}

#map-canvas { height: 100% }


.boton {
    color: #940f12 !important;
    height: 10em !important;
    line-height: 1em !important;

}
.swiper-wrapper{
    max-height: 250px;
}


.boton-chico {
    color: #940f12 !important;
    height: 3em !important;
}


.center img {
    padding-top: 1em;
    width: 100%;
}

.swiper-slide{
    min-height: 250px;
}

.swiper-slide .overlay{

    background-color: #000;
    font-weight: bold;
    color:#fff;
    opacity: .7;
    width: 99%;
    padding: 1%;
    bottom: 0;
    position: absolute;

}

.navbar {
    background-color: #940f12 !important;
    box-shadow:0px 7px 6px 0px rgba(0,0,0,0.22);
}

.swiper-container {
    -webkit-border-radius: 5px;
    border-radius: 2px !important;
}

#sombraSlide {
    box-shadow:0px 7px 6px 0px rgba(0,0,0,0.22);
}

@font-face {
    font-family: 'Framework7 Icons';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Framework7Icons-Regular.eot");
    src: local('Framework7 Icons'),
    local('Framework7Icons-Regular'),
    url("../fonts/Framework7Icons-Regular.woff2") format("woff2"),
    url("../fonts/Framework7Icons-Regular.woff") format("woff"),
    url("../fonts/Framework7Icons-Regular.ttf") format("truetype");
}

.f7-icons, .framework7-icons {
    font-family: 'Framework7 Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    font-feature-settings: "liga";
}

.buttons-row a img{

    height: 5em;
}

.popup p {

    text-align: justify;
    text-justify: inter-word;
}

.iconList {

    margin-right: 1em;
}

.navbarMenu {
    font-size: smaller !important;
}

.navbarMenu p {

    margin-right: 1em;
 }

.background-light {
    padding: 1em;
    background: #fff !important;
    border-radius: 2px;
    box-shadow:0px 7px 6px 0px rgba(0,0,0,0.22);
}

.list-block .accordion-item .content-block, .list-block .accordion-item .list-block{
    padding-left: 50px;
}

.toolbar {
    background-color: #940f12 !important;
    height: 2em;
    z-index: 100000;
    text-align: center !important;
    font-size: small;
    box-shadow:  0px -3px 22px 1px rgba(0,0,0,0.75);
}

.toolbar-inner p{
    text-align: center !important;
    width: 100%;
}

#cardImageBackground {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 100%;
    margin-bottom: 1em;
    box-shadow:0px 7px 6px 0px rgba(0,0,0,0.22);

}

.linkAyuda a {
    color: #000;
    margin-left: 1em;
}

.list-block .item-content {
    padding-left: 0px !important;
}

.tituloBlanco {
    background-color: white;
}

.boton-navigation {

    color: white !important;
    background-color: #f44336 !important;
}

.icono-bus {

    background: url("../images/bus.svg");
    display: inline-block;
    height: 25px;
    width: 25px;

}

.list-block{
    font-size: inherit;
}

.color-h3, .color-h4
{
    color: #940f12;
}

.list-group-title{
    text-transform: uppercase;
    color: #940f12 !important;
}

.card{
    margin:0;
}

.theme-white .modal-button{
    background-color: #940f12;
}

.statusbar-overlay {
    background: #940f12 !important;
}

.campoErroneo {

    border: dashed 2px red;
    border-radius: 3px;
}

.link-azul {
    color: blue !important;
}

textarea {
    resize: none;
    width: 99%;
}
